

.page-container
  // 
#container
  border 1px solid #ccc
  border-radius 4px
  cursor pointer
  overflow hidden
  margin 0 auto

.menu-list
  display flex
  justify-content center

  .btn
    cursor pointer
    user-select none
    padding 5px 20px
    background rgba(64, 158, 255, 1)
    color #fff
    border-radius 4px
    margin 10px
    &:hover
      background rgba(64, 158, 255, .95)
    &:active
      background rgba(64, 130, 255, .95)
